*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
}

#red-btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}